<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/flexslider/flexslider.css" />
      <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css" />
      <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
      <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
      <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body ng-app="stackduinoApp" data-ng-controller="MainCtrl" data-ng-class="{ 'home' : isCurrentPath('/') }">
    <!--[if lt IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div class="main">

      <header id="masthead" class="site-header ng-cloak" role="banner">
        <div class="container">
          <div class="row">
            <div id="logo" class="site-branding col-sm-8">
              <a href="/" class="home-link" title="Home">
                <p class="animated-site-logo js-animate-logo">
                  <span class="fa fa-pause"></span>
                  <span class="fa fa-camera"></span>
                </p>
                <div class="site-descriptor">
                  <h1 id="site-title">
                    {{ siteTitle }}
                  </h1>
                  <p class="plain site-slogan">{{ siteDescription }}</p>
                </div>
              </a>
            </div>
            <div class="social-links col-sm-4">
              <ul class="plain">
                <li data-ng-repeat="link in socialLinks">
                  <a href="{{link.href}}" title="{{link.title}}">
                    <span class="fa fa-{{link.icon}}">
                      <span class="visually-hidden">{{link.title}}</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <!-- Main horizontal menu bar -->
      <section id="preface-area">
        <div class="container">
          <nav class="row">
            <ul class="ng-cloak">
              <li data-ng-repeat="item in menuItems" data-ng-class="{active: isCurrentPath(item.href)}" class="preface-block col-sm-4 block-{{$index + 1}}">
                <a href="{{item.href}}">
                  <h2><span class="fa fa-{{item.icon}}"></span>{{item.title}}</h2>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </section>

      <!-- Breadcrumbs -->
      <section data-ng-hide="isCurrentPath('/')">
        <div class="container breadcrumb-nav">
          <div class="row">
            <nav class="page-utils col-md-12 ng-cloak">
              <div ncy-breadcrumb></div>
            </nav>
          </div>
        </div>
      </section>

      <!-- Page partial container -->
      <div class="view-animate-container ng-cloak">
        <section ui-view="" id="main-content" class="fade"></section>
      </div>

      <!-- Footer -->
      <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="container">
          <div class="row ng-cloak">
            <div class="col-sm-4" data-ng-repeat="linkBlock in footerLinks">
              <h3>{{ linkBlock.title[0].value }}</h3>
              <ul class="plain">
                <li data-ng-repeat="link in linkBlock.field_footer_link track by $index">
                  <a href="{{ link.uri }}">
                    {{ link.title }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="bower_components/lodash/dist/lodash.compat.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
      <script src="bower_components/isotope/dist/isotope.pkgd.min.js"></script>
      <script src="bower_components/angular-utils-ui-breadcrumbs/uiBreadcrumbs.js"></script>
      <script src="bower_components/flexslider/jquery.flexslider.js"></script>
      <script src="bower_components/angular-breadcrumb/release/angular-breadcrumb.js"></script>
      <script src="bower_components/Chart.js/Chart.js"></script>
      <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
      <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
      <script src="bower_components/angularjs-autocomplete/build/angularjs-autocomplete.min.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js(.tmp) app/app.js -->
      <script src="app/app.js"></script>
      <!-- injector:js -->
      <script src="app/admin/admin.module.js"></script>
      <script src="components/auth/auth.module.js"></script>
      <script src="components/util/util.module.js"></script>
      <script src="app/getContent/getContent.service.js"></script>
      <script src="app/admin/admin.controller.js"></script>
      <script src="app/account/account.js"></script>
      <script src="app/admin/admin.router.js"></script>
      <script src="app/app.constant.js"></script>
      <script src="app/article/article.controller.js"></script>
      <script src="app/article/article.js"></script>
      <script src="app/articleListing/articleListing.directive.js"></script>
      <script src="app/board/board.controller.js"></script>
      <script src="app/board/board.js"></script>
      <script src="app/boards/boards.controller.js"></script>
      <script src="app/boards/boards.js"></script>
      <script src="app/build/build.controller.js"></script>
      <script src="app/build/build.js"></script>
      <script src="app/flexSlider/flexSlider.directive.js"></script>
      <script src="app/gallery/gallery.controller.js"></script>
      <script src="app/gallery/gallery.js"></script>
      <script src="app/getApiRoots/getApiRoots.service.js"></script>
      <script src="app/getArticles/getArticles.service.js"></script>
      <script src="app/getBoards/getBoards.service.js"></script>
      <script src="app/account/login/login.controller.js"></script>
      <script src="app/getFlickrImages/getFlickrImages.service.js"></script>
      <script src="app/getPages/getPages.service.js"></script>
      <script src="app/getSettings/getSettings.service.js"></script>
      <script src="app/getStrings/getStrings.service.js"></script>
      <script src="app/getWrapperContent/getWrapperContent.service.js"></script>
      <script src="app/github/github.directive.js"></script>
      <script src="app/home/home.controller.js"></script>
      <script src="app/home/home.js"></script>
      <script src="app/main/main.controller.js"></script>
      <script src="app/masonryImages/masonryImages.directive.js"></script>
      <script src="app/account/settings/settings.controller.js"></script>
      <script src="components/auth/auth.service.js"></script>
      <script src="components/auth/interceptor.service.js"></script>
      <script src="components/auth/router.decorator.js"></script>
      <script src="components/auth/user.service.js"></script>
      <script src="components/footer/footer.directive.js"></script>
      <script src="components/modal/modal.service.js"></script>
      <script src="components/mongoose-error/mongoose-error.directive.js"></script>
      <script src="components/navbar/navbar.controller.js"></script>
      <script src="components/navbar/navbar.directive.js"></script>
      <script src="app/account/signup/signup.controller.js"></script>
      <script src="components/util/util.service.js"></script>
      <!-- endinjector -->
    <!-- endbuild -->
  </body>
</html>
